@font-face {
  font-family: 'Tahoma';
  font-style: normal;
  font-weight: normal;
  src: local('Tahoma'), url(./fonts/Tahoma.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'TahomaBold';
  font-style: Bold;
  font-weight: normal;
  src: local('Tahoma'), url(./fonts/TahomaBold.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

html,
#root {
  height: 100% !important;
}

body {
  margin: 0;
  font-family: 'TahomaBold' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100% !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --gray: #7A7A7A;
  --light-gray: #F9F9F9;
  --orange: #FB6A2E;
  --blue: #00ADB8;
  --dark-blue: #102C31;
  --white: #FFFFFF;
  --red: #B50000;
}

.gray-bg {
  background-color: var(--gray) !important;
}

.light-gray-bg {
  background-color: var(--light-gray) !important;
}

.orange-bg {
  background-color: var(--orange) !important;
}

.blue-bg {
  background-color: var(--blue) !important;
}

.dark-blue-bg {
  background-color: var(--dark-blue) !important;
}

.white-bg {
  background-color: var(--white) !important;
}

.red-bg {
  background-color: var(--red) !important;
}

.gray-color {
  color: var(--gray) !important;
}

.light-gray-color {
  color: var(--light-gray) !important;
}

.orange-color {
  color: var(--orange) !important;
}

.blue-color {
  color: var(--blue) !important;
}

.dark-blue-color {
  color: var(--dark-blue) !important;
}

.white-color {
  color: var(--white) !important;
}

.red-color {
  color: var(--red) !important;
}

.input-field {
  all: unset;
  border: 1px solid #B2B1B1;
  border-radius: 4px;
}

.input-field:focus {
  border: 1px solid var(--orange);
  border-radius: 4px;
}

input[type="radio"] {
  visibility: hidden;
}

input[type="radio"]::before {
  border: 1px solid var(--orange);
  height: .9em;
  width: .9em;
  border-radius: 50%;
  display: block;
  content: " ";
  cursor: pointer;
  visibility: visible;
}

input[type="radio"]:checked::before {
  background: radial-gradient(var(--orange) 36%, transparent 38%);
}